img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
header {
    background-color: burlywood;
    color: white;
    padding: 20px;
    font-size: 24px;
}
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    background-color: burlywood;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128, 72, 72);
}
